.shuffle-button, .check-button {
	transition: all 0.4s linear;
	background-color: #d2d2d2;
}

.shuffle-button, .check-button {
	background-color: #969696;
}

.parson-container, .input-container {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 1rem;
  }